<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Picanto</key>
	<dict>
		<key>1</key>
		<dict>
			<key>tipo</key>
			<string>Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Hatch Back 5 puertas, motor 1.0 cc, 69 HP, gasolina, transmisión manual 5 velocidades, R14&quot;.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Dirección electro asistida *Vidrios delanteros eléctricos *Bloqueo centralizado *Computadora de a bordo *Spoiler *Radio con MP3 *Conexión AUX/USB/Tarjeta SD *Bluetooth *Manos Libres&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>15990</string>
		</dict>
		<key>4</key>
		<dict>
			<key>tipo</key>
			<string>Extra Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Hatch Back 5 puertas, motor 1.0 cc, 69 HP, gasolina, transmisión manual 5 velocidades, R14&quot;.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Dirección hidráulica *Aire acondicionado *Doble airbag *Bloqueo centralizado * Computadora de a bordo *Faros camineros *Vidrios y espejos retrovisores eléctricos *Spoiler *Bloqueo y alarma remota *Radio con MP3 *Conexión AUX/USB/Tarjeta SD *Bluetooth *Manos Libres.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>17990</string>
		</dict>
		<key>5</key>
		<dict>
			<key>tipo</key>
			<string>Automatico Extra Full </string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Hach Back 5 puertas, motor 1.0, 69cv, nafta, caja automática, R14”.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; *Dirección electro asistida *Aire acondicionado * Doble airbag *Computadora a bordo *Bloqueo centralizado y alarma volumétrica con mando a distancia *Vidrios eléctricos en las 4 puertas *Spoiler trasero *Posa vasos en consola *Guarda objetos debajo del asiento acompañante *Faros camineros *Radio con MP3 *Conexión Aux *USB *SD *Bluetooth  *Manos libres.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>19990</string>
		</dict>
	</dict>
	<key>Cerato</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt; Sedán mediano, 3 volúmenes, 4 puertas, motor 1.6, transmisión manual 6 vel., 124 HP, DOHC, 16 V, CVVT, 4,50 mts.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; *Aire acondicionado *Dirección hidráulica *Vidrios eléctricos *Bloqueo y alarma remota *Bloqueo automático  *Espejo retrovisor eléctrico *Doble airbag * Faros neblina *Computadora de a bordo *ABS *Frenos de disco en las cuatro ruedas *Vidrios tintados *Radio/CD/MP3/ USB/IPOD *Control de audio en el volante.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<integer>27990</integer>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>tipo</key>
			<string>Extra Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt; Sedán mediano, 3 volúmenes, 4 puertas, motor 1.6,transmisión manual 6 vel., 124 HP, DOHC, 16 V, CVVT, 4,50 mts.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; * Climatizador *Dirección hidráulica *Vidrios eléctricos *Bloqueo y alarma remota *Bloqueo automático  *Espejo retrovisor eléctrico *Doble airbag * Faros neblina *Llantas de aleación R16” *Computadora de a bordo *ABS *Frenos de disco en las cuatro ruedas *Vidrios tintados *Radio/CD/MP3/ USB/IPOD *Control de audio en el volante.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>29990</string>
		</dict>
	</dict>
	<key>Soul</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt; Crossover, rural mediana, 2 vol., 5 ptas., 4 cil. 1.591 cc., 124 CV, transmisión manual, 4,105 mts., 177 km/h, 12,6km/l.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Aire Acondicionado *Dirección hidráulica *Vidrios eléctricos *Bloqueo y alarma remota *Bloqueo automático *Radio/CD/MP3/USB/IPOD *Control de audio en el  volante *Espejo retrovisor eléctrico *Airbag Conductor *Faros *Computadora *Faros camineros *Tercera luz de freno *Barras de techo.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>24990</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>tipo</key>
			<string>Extra Full</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Crossover, rural mediana, 2 vol., 5 ptas., 4 cil. 1.591 cc., 124 CV, transmisión manual, 4,105 mts., 177 km/h, 12,6km/l, llantas de aluminio 16”.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; *Aire Acondicionado *Climatizador *Dirección hidráulica *Vidrios eléctricos *Bloqueo y alarma remota *Bloqueo automático *Radio/CD/MP3/USB/IPOD *Control de audio en el  volante  *Espejo retrovisor eléctrico *Airbag Conductor *Faros *Computadora *Faros camineros *Tercera luz de freno *Barras de techo *Spoiler *ABS.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>27990</string>
		</dict>
	</dict>
	<key>Sportage</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Manual</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt; Todo terreno, 2WD, motor 2.0 L, 166 CV, gasolina, transmisión manual 5 vel., llantas de aluminio R16”.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; *Aire acondicionado *Dirección hidráulica *Espejos y vidrios eléctricos *Bloqueo centralizado *Bloqueo y alarma remota *ABS *Doble airbag  *Frenos de disco en las 4 ruedas *Faros de niebla *Tercera luz de freno  *Radio CD MP3 *Conexión USB/iPod.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>37990</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>tipo</key>
			<string>Automático</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Todo terreno, 2WD, motor 2.0 cc., 166 CV, gasolina, transmisión automática secuencial 6 vel., llantas de aluminio R16”.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Aire acondicionado *Dirección hidráulica *Espejos y vidrios eléctricos *Bloqueo centralizado *Bloqueo y alarma remota *ABS *Doble airbag *Frenos de disco en las 4 ruedas *Control lumbar *Techo panorámico de cristal *Sensor de estacionamiento *Spoiler *Vidrios tintados *Barra de techo *Comando de audio en el volante *Faros de niebla *Tercera luz de freno  *Radio CD/MP3 *Conexión USB + iPod.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>43990</string>
		</dict>
	</dict>
	<key>Cerato Koup</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Cerato Koup</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Coupé deportiva, 2 vol, 2 ptas., 5 pax., 4 cil., 2.0 c.c., 156 CV, DOHC, 16 V, CVVT, rod. 17”, caja aut. sec. de 6 vel., 4,48 mts.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Aire acondicionado climatizado *Dirección hidráulica *Vidrios eléctricos *Vidrios tintados *Bloqueo y alarma remota *Espejos eléctricos *Llantas de aluminio R17” *ABS *Freno de disco en las 4 ruedas *Doble airbag *Velocidad crucero *Sensor de estacionamiento *Faros de niebla *Computadora a bordo *Techo corredizo *Pack de cuero y cromado * Radio CD/MP3/USB/iPod *Comando de audio en el volante.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>36990</string>
		</dict>
	</dict>
	<key>Sorento</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Sorento</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt;Todoterreno, 5 puertas, 7 pasajeros, 2WD, motor 2.4 cc., 174 HP, gasolina, caja automática secuencial de 6 velocidades.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt;*Climatizador dual *Dirección hidráulica *Vidrios y espejos retrovisores eléctricos *Bloqueo y alarma remota *Bloqueo central *Llantas de aluminio R17” *ABS *Doble airbag *Frenos de disco en las 4 ruedas  
*Sensor de estacionamiento *Inmovilizador *Computadora a bordo *Vidrios tintados *Pack de cuero y cromado *Faros de niebla *CD/MP3 con conexión USB+iPod.&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>49990</string>
		</dict>
	</dict>
	<key>Mohave</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>tipo</key>
			<string>Mohave</string>
			<key>detalle</key>
			<string>&lt;html&gt;
&lt;body bgcolor=&quot;rgb(221,225,236)&quot;&gt;
&lt;font face=&quot;verdana&quot; size=&quot;4&quot;&gt; Todoterreno de alta gama 4WD, 5 ptas., 7 pax, 3.778 c.c., DOHC, 24V, CVVT, 275 CV, gasolina, caja automática secuencial de 6 velocidades a demanda con alta y baja, 4.888 mts.&lt;br/&gt;&lt;br/&gt;
&lt;b&gt;EQUIPO:&lt;/b&gt; *Climatizador dual *Dirección servoasistida *Espejos y vidrios eléctricos *Bloqueo central *Bloqueo y alarma remota *Tapizado en cuero *Tercera fila de asientos *ABS y EBD *Techo corredizo *Frenos de disco en las 4 ruedas  *Inmovilizador  *Airbags delanteros y de cortina *Sensor de estacionamiento *Cámara de reversa *Control crucero *Encendido electrónico *Barras de techo *Pack de cuero y cromado *Computadora a bordo *Faros de Xenon *Faros de neblina *Control de estabilidad *Radio CD MP3 con conexión USB+iPod *Comando audio en el volante *Llantas aluminio 18”&lt;/font&gt;
&lt;/body&gt;
&lt;/html&gt;</string>
			<key>precio</key>
			<string>74990</string>
		</dict>
	</dict>
</dict>
</plist>
